body{
  font-family: "Victor Mono";
}
.particles{
z-index: -1;

}
.container{
  z-index: 2;
  color: red;
  font-weight: bold;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #32394d ;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #4169e1;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
   /* creates padding around scroll thumb */
}